<div class="columns is-flex is-flex-wrap-wrap">
   <div class="column is-12">
      <div class="card">
         <div class="card-image">
            <figure class="image is-4by3">
               <img src="https://i.imgur.com/HW2UUco.jpg" alt="Austin">
            </figure>
         </div>
         <a href="https://www.kidsandsuitcases.com/austin-murals-with-route-map/" class="is-size-7">Photo: Kids+Suitcases</a>
         <div class="card-content">
            <div class="content">
               <div class="About-header has-text-primary has-text-centered is-size-1">SPRAY CAN</div>
               <br>
               <div class="About-Us is-size-5  has-text-centered has-text-gray-dark">
                  <p>Welcome to Spray Can: the social media app centered around street art.<br><br>
                     This application was inspired by the creativity and vibrancy of street art, murals, and other forms of non-conventional expression.<br><br>
                     Cool drawings in a restaurant that encourages art? Check. Murals? They belong here. Paintings organized by the local co-op? This is the place. Stickers produced by a talented unknown? Yes, please!<br><br>
                     Art is more than what we can visit in museums; it's a living medium that changes with the times and is supported by the community. Allow this app to be a place of discovery and congregation for artists and aficionados alike. Simply create an account and begin uploading your finds or personal work. You can geo-tag from your current position or tag it on our map later for others to visit. 
                     Keep it fun, keep it legal. 
                     <div class="is-size-4"><b>Welcome to the community!</b></div>
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
