<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spray-Can</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/css/ol.css" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body style="height: 100%;">

    <header>
        <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
            {{#if loggedIn}}
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <span class="icon is-medium is-left">
                            <i class="fas fa-spray-can"></i>
                        </span>
                    </a>
                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                    </a>
                </div>
                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" href="/">
                            Home
                        </a>

                        <a class="navbar-item" href="/dashboard">
                            Post
                        </a>
                        <a class="navbar-item" href="/mapview">
                            Map
                        </a>
                    </div>

                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="buttons">
                                <a class="button is-light" id="logout">
                                    Log out
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {{else}}
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <span class="icon is-medium is-left">
                            <i class="fas fa-spray-can"></i>
                        </span>
                    </a>
                </div>

                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" href="/">
                            Home
                        </a>
                    </div>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-light" href="/login">
                                Log in
                            </a>
                        </div>
                    </div>
                </div>

                {{/if}}
        </nav>
    </header>
    <main>
        <div class="mt-5">
            {{{ body }}}
        </div>
    </main>
    {{!-- <footer style="bottom: 0">

    </footer> --}}
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>

{{!------ NOTES ------}}

{{!-- Your file/folder structure MUST be set up this way for Handlebars.js to work correctly.
You will always have a main layout located at (and named) views/layouts/main.handlebars.
All other template files will go directly in the views folder (views/welcome.handlebars). --}}