<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spray-Can</title>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/css/ol.css" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/1e8a253695.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body style="height: 100%;">

    <header>
        <nav class="navbar is-primary is-fixed-top" role="navigation" aria-label="main navigation">
            {{#if loggedIn}}


            <div class="navbar-brand">

                <a class="navbar-item headtext" href="/">
                    {{!-- <span class="icon is-medium">
                        <i class="fas fa-spray-can"></i>
                    </span> --}}
                    SPRAY CAN
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navMenu" class="navbar-menu">
                <div class="navbar-start">
                    {{!-- <a class="navbar-item" href="/">
                        Home
                    </a> --}}

                    <a class="navbar-item" href="/dashboard">
                        Post
                    </a>
                    <a class="navbar-item" href="/mapview">
                        Map
                    </a>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-light" id="logout">
                                Log out
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {{else}}
            <div class="navbar-brand">

                <a class="navbar-item headtext" href="/">
                    {{!-- <span class="icon is-medium">
                        <i class="fas fa-spray-can"></i>
                    </span> --}}
                    SPRAY CAN
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navMenu" class="navbar-menu">
                <div class="navbar-start">
                    {{!-- <a class="navbar-item" href="/">
                        Home
                    </a> --}}
                </div>
            </div>
            </div>
            {{else}}
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <span class="icon is-medium is-left">
                        <i class="fas fa-spray-can"></i>
                    </span>
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div class="navbar-brand">
                <a class="navbar-item headtext" href="/">
                    SPRAY CAN
                </a>
            </div>
            <div id="navMenu" class="navbar-menu">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-light" href="/login">
                                Log in
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            {{/if}}
        </nav>
    </header>
    <br>
    <br>
    <main>
        <section class="section">
            <div class="container">

                {{{ body }}}

            </div>
        </section>
    </main>
    {{!-- <footer style="bottom: 0">

    </footer> --}}
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {

                // Add a click event on each of them
                $navbarBurgers.forEach(el => {
                    el.addEventListener('click', () => {

                        // Get the target from the "data-target" attribute
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);

                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');

                    });
                });
            }

        });
    </script>
</body>

</html>

{{!------ NOTES ------}}

{{!-- Your file/folder structure MUST be set up this way for Handlebars.js to work correctly.
You will always have a main layout located at (and named) views/layouts/main.handlebars.
All other template files will go directly in the views folder (views/welcome.handlebars). --}}