{{!-- This loads Dashboard HTML --}}
<section>
    <div class="container">
        <div class="columns is-12">
            <div class="column is-4">
                <h2 class="title">Create New Post</h2>

                <form class="mt-4" action="/api/posts" method="POST" enctype="multipart/form-data">

                    <div class="form-group">
                        <input type="file" name="file" id="input-files" class="form-control-file border" />
                    </div>

                    <div>
                        <label for="description">Post Desc</label>
                        <input type="text" id="description" name="description" />
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>




{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            {{!-- <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a> --}}
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}



{{!-- The file that the dashboard uses to create new posts --}}