{{!-- This loads Dashboard HTML --}}
<section>
    <h2>Create New Post</h2>

    <form method="POST" action="/profile-upload-single" enctype="multipart/form-data">
        <div>
            <label>Upload profile picture</label>
            <input type="file" name="post-image" required />
        </div>
        <div>
            <input type="submit" value="Upload" />
        </div>
        <div>
            <label for="post-desc">Post Desc</label>
            <input type="text" id="post-desc" name="post-desc" />
        </div>

        {{!-- LOCATION --}}
        <div>
            <label for="post-location">Location</label>
            <input id="post-location" name="post-location" />
        </div>
    </form>
</section>




{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            {{!-- <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a> --}}
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}



{{!-- The file that the dashboard uses to create new posts --}}
