{{!-- This loads Dashboard HTML --}}
<section>
    <div class="container">
        <div class="columns is-12">
            <div class="column is-4">
                <h2 class="title">Create New Post</h2>

                <form method="POST" action="/profile-upload-single" enctype="multipart/form-data">
                    <div class="field">
                        <label class="label">Upload Picture</label>
                        <input class="input" type="file" name="post-image" required />
                    </div>
                    <div class="field">
                        <label class="label" for="post-desc">Description</label>
                        <textarea class="textarea" type="text" id="post-desc" name="post-desc"></textarea>
                    </div>

                    {{!-- LOCATION --}}
                    <div class="field">
                        <label class="label" for="post-location">Location</label>
                        <input class="input" id="post-location" name="post-location" placeholder="E.g. 30.2639, -97.7260"/>
                    </div>
                    <div class="field">
                        <button class="button is-link" type="submit" value="Upload" />Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>            
</section>




{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            {{!-- <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a> --}}
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}



{{!-- The file that the dashboard uses to create new posts --}}
