<article>
    <p class="title is-centered is-strong">Confirm Delete?</p>
    <form class="edit-post-form">
        <button type="button" class="delete-post-btn button is-danger">Delete post</button>
    </form>
</article>

<script src="/javascript/delete-post.js"></script>