@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

* {
    box-sizing: border-box;
  }

  #my-map {
    width: 500px;
    height: 500px;
    margin: 0;
  }

  .map {
    height: 400px;
    width: 400px;
  }